.add-task-form {
  display: flex;
  margin-left: 232px;
}


body {
  background-color: #F6F7F8;
}

h1 {
  margin-left: 272px;
}


.fullpage {
  margin-top: 160px;
}

.fullpage h1 {
  font-size: 62px;
}


.flexed {
  display: flex;
}

.button-area-prio {
  justify-content: space-between;
  margin-bottom: 32px;
  width: 90%;
  padding: 0 !important;
  box-sizing: border-box !important;
}

.form-left-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 24px 40px 24px 40px;
  border-right: solid 1px #D1D1D1;
}

.form-left-side-help {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 24px 40px 24px 40px;
}

.form-right-side {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.multiselect {
  width: 90% !important;
  box-sizing: border-box;
}

.selectBox {
  position: relative !important;
  width: 100%;
  box-sizing: border-box;
}

.selectBox select {
  position: relative !important;
  width: 100%;
  font-weight: bold;
  box-sizing: border-box;
}

.overSelect {
  position: absolute;
  width: 90%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
  height: 150px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  --sb-track-color: #ffffff;
  --sb-thumb-color: #a8a8a8;
  --sb-size: 6px;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}


#checkboxes::-webkit-scrollbar {
  width: var(--sb-size)
}

#checkboxes::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 17px;
}

#checkboxes::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 17px;
}

label {
  color: #2A3647;
}

.input-field {
  font-family: Inter;
  width: 90%;
  height: 48px;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  padding: 0 12px 0 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 21px;
  margin: 4px 0 32px 0;
  box-sizing: border-box;
}

.input-field:focus {
  outline: none !important;
  border: 1px solid #007cee;
  box-shadow: 0 0 10px #719ECE;
}

.input-field::placeholder {
  color: #D1D1D1;
}

#input-description {
  width: 90%;
  height: 120px;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  padding: 12px 12px 0 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 21px;
  margin: 4px 0 32px 0;
  overflow: auto;
  resize: none;
  word-break: keep-all;
  box-sizing: border-box;
}

#input-description::placeholder {
  color: #D1D1D1;
  font-family: Inter;
}

.prio-container {
  height: 56px;
  width: 136px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #D1D1D1;
  font-size: 20px;
  font-weight: 400;
}

.prio-container:hover {
  cursor: pointer;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  transition: transform 0.1s ease-in-out, 0.2s;
}

.prio-active-urgent {
  background-color: #ff3d00;
  color: white;
}

.prio-active-urgent img {
  filter: brightness(0) invert(1);
}

.prio-active-medium {
  background-color: #ffa800;
  color: white;
}

.prio-active-medium img {
  filter: brightness(0) invert(1);
}

.prio-active-low {
  background-color: #7ae229;
  color: white;
}

.prio-active-low img {
  filter: brightness(0) invert(1);
}

.red-letter {
  color: #ff8190;
}

.input-field-select {
  font-family: Inter;
  width: 100%;
  height: 48px;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  padding: 0 12px 0 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 21px;
  margin: 4px 0;
}

option {
  float: right;
}

.input-field-select:focus {
  outline: none !important;
  border: 1px solid #007cee;
  box-shadow: 0 0 10px #719ECE;

}

.input-field-select::placeholder {
  color: #D1D1D1;
}

.overSelect {
  width: 100%;
  padding: 0 12px 0 21px;

}


.contact-for-form {
  width: 100%;
  display: flex !important;
  align-items: center !important;
  margin-bottom: 8px;

}

.input-check {
  position: relative;
  margin-left: auto;
  margin-right: 60px;
}


.submit-area button {
  margin-left: 24px;
}


.submit-area-left {
  width: 40%;
  margin: 24px 0px 24px 40px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}


.submit-area-right {
  width: 40%;

  margin: 24px 0px 24px 0px;
}


.submit-area-help-container {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.blue-btn {
  width: 214px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  background-color: #2A3647;
  color: white;
  font-family: Inter-Bold;
  font-size: 21px;
  cursor: pointer;
  transition: 100ms linear;
  gap: 4px;
  margin-left: 24px;
}

.blue-btn:hover {
  background-color: #29ABE2;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}



.white-btn {
  width: 126px;
  height: 57px;
  gap: 4px;
  display: flex;
  color: #2A3647;
  align-items: center;
  justify-content: center;
  border: 1px solid #2A3647;
  border-radius: 8px;
  background-color: white;
  font-family: Inter-Bold;
  font-size: 21px;
  cursor: pointer;
  transition: 100ms linear;
}

.white-btn:hover {
  color: #29ABE2;
  border-color: #29ABE2;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.white-btn:hover img {
  filter: invert(66%) sepia(29%) saturate(4458%) hue-rotate(165deg) brightness(93%) contrast(89%);
  transition: 100ms linear;
}




#subtasks {
  font-family: Inter;
  width: 90%;
  height: 48px;
  border: none;
  border-radius: 10px;
  padding: 0 12px 0 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 21px;

}

#subtasks:focus {
  outline: none !important;
  border: 0px;
}

#subtasks::placeholder {
  color: #D1D1D1;
}


.d-none {
  display: none;
}

.input-field-subtasks {
  font-family: Inter;
  width: 90%;
  height: 48px;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  background-color: white;
}


.input-field-subtasks img:hover {
  cursor: pointer;


}

.flex-column {
  display: flex;
  flex-direction: column;
}

#add-button-icon-plus {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

#add-button-icon-plus:hover {
  background-color: #D1D1D1;
  cursor: pointer;
}

#add-button-icon-check {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

#add-button-icon-cancel:hover {
  background-color: #D1D1D1;
  cursor: pointer;
}

#category {
  width: 90%;
}

#circle-area-assigned-contacts {
  display: flex;
  padding-top: 16px;
}

.assigned-contacts {
  margin: 0 !important;
  padding: 0 !important;

}


#add-button-icon-cancel {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

#deadline {
  display: block !important;
}

#deadline::placeholder {
  color: #D1D1D1 !important;
}


.contact-for-form {
  border-radius: 10px;
}


.contact-for-form:hover {
  background-color: #d1d1d1 !important;
}



#add-button-icon-check:hover {
  background-color: #D1D1D1;
  cursor: pointer;
}

.cancel-container {
  border-right: 1px solid #D1D1D1;
}


.circle {
  border-radius: 50%;
  border: solid 2px white;
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  color: white;
}


.circle-yellow {
  background-color: #ffbb2b !important;
}


.circle-orange {
  background-color: #ff7a00 !important;
}


.circle-turquoise {
  background-color: #1fd7c1 !important;
}


.circle-purple {
  background-color: #462f8a !important;
}


.circle-lightpurple {
  background-color: #6e52ff !important;
}


.circle-blue {
  background-color: #0038ff !important;
}


.circle-lightblue {
  background-color: #00bee8 !important;
}


.circle-pink {
  background-color: #fc71ff !important;
}


.circle-lightred {
  background-color: #ff4646 !important;
}


.circle-green {
  background-color: #33691e !important;
}


.z1 {
  z-index: 1;
  left: 0px;
  position: relative;
}


.z2 {
  z-index: 2;
  left: -10px;
  position: relative;
}


.z3 {
  z-index: 3;
  left: -20px;
  position: relative;
}


.z4 {
  z-index: 4;
  left: -30px;
  position: relative;
}


.z5 {
  z-index: 5;
  left: -40px;
  position: relative;
}


.z6 {
  z-index: 6;
  left: -50px;
  position: relative;
}


.z7 {
  z-index: 7;
  left: -60px;
  position: relative;
}


.z8 {
  z-index: 8;
  left: -70px;
  position: relative;
}


.z9 {
  z-index: 9;
  left: -80px;
  position: relative;
}


.z10 {
  z-index: 10;
  left: -90px;
  position: relative;
}


.z11 {
  z-index: 10;
  left: -40px;
  position: relative;
}


.z12 {
  z-index: 110;
  left: -40px;
  position: relative;
}


.bg-blue {
  background-color: #0038ff;
}


#toaster-task {
  visibility: hidden;
  width: 312px;
  height: 74px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2A3647;
  font-size: 20px;
  color: white;
  position: fixed;
  z-index: 1;
  left: 50%;
  gap: 24px;
  bottom: -74px;
  transform: translateX(-50%);
}


#toaster-task.show {
  visibility: visible;
  animation: slidein 0.75s, stay 1s 0.75s, slideout 0.75s 1.5s;
}

.red-letter-resp {
  display: none;
  font-size: 16px;
}

@keyframes slidein {
  from {
    bottom: -74px;
  }

  to {
    bottom: 50%;
  }
}

@keyframes stay {
  from {
    bottom: 50%;
  }

  to {
    bottom: 50%;
  }
}

@keyframes slideout {
  from {
    bottom: 50%;
  }

  to {
    bottom: -74px;
  }
}


@media (max-width: 1000px) {

  .circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;

    margin-right: 10px;
    color: white;
  }

  .input-check {
    margin-right: 40px;
  }

  .add-task-form {
    display: block;
  }

  .form-left-side {
    width: 90%;
    margin: 24px 40px 24px 40px;
    border-right: none;
  }

  .form-left-side-help {
    display: none
  }

  .form-right-side {
    width: 90%;
    margin: 24px 40px 24px 40px;
  }

  .white-btn {
    display: none;

  }

  .submit-area-help-container {
    justify-content: space-between;
    position: fixed;
    bottom: 80px;
    background-color: #F6F7F8;
    padding-bottom: 16px;
    padding-top: 16px;

  }

  .red-letter-resp {
    display: block;
  }

  form {
    margin-bottom: 100px;
  }

}


@media(max-width: 650px) {
  .input-field {
    font-size: 16px;
  }

  .form-right-side {
    width: 100%;
    margin: 24px 40px 24px 10px;
  }

  .form-left-side {
    width: 100%;
    margin: 120px 40px 24px 10px;
  }


  .input-field-select {
    font-size: 16px !important;
  }

  #input-description {
    font-size: 16px;
  }

  #subtasks {
    font-size: 16px;
  }

  .multiselect {
    font-size: 16px !important;
  }

  .input-check {
    margin-right: 20px;
  }

  .add-task-form {
    margin-left: 0px;
  }

  .headline-container{
    position: fixed;
    padding-top: 16px;
    z-index: 400;
    background-color: #F6F7F8;
    width: 100%;


  }

  h1 {
    margin-left: 42px;
    margin-top: 0;
    padding: 0;


  }

  .fullpage {
    overflow: hidden;
    margin-top: 96px;
  }

  .fullpage h1 {
    font-size: 47px;
  }

  .prio-container {
    height: 40px;
    width: 90px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border: 1px solid #D1D1D1;
    font-size: 16px;
    font-weight: 400;
  }

  .blue-btn {
    margin-left: 10px;
  }
}