.add-task-form{
    display: flex;
    margin-left: 232px;
}

h1{
    margin-left: 232px;
}

.flexed{
    display: flex;
}

.form-left-side{
    display: flex;
    flex-direction: column;
}

.form-right-side{
    display: flex;
    flex-direction: column;
}

.multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
  }
  
  #checkboxes label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }