body{
    background-color: #F6F7F8;
}

.board-container{
    margin-top: 160px;
    margin-left: 338px;
    max-width: 1440px;
    margin-right: 80px;
}

.board-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-header h1{
    font-size: 62px;
    margin-left: 10px;
    margin-bottom: 0;
}

.task-input-container{
    display: flex;
    align-items: center;
    gap: 20px;
}


.add-task{
    width: 160px;
    height: 48px;
    border-radius: 10px;
    padding: 8px 16px;
    background-color: #2a3647;
    color: #FFFFFF;
    font-size: 24px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border: none;
}

.add-task:hover{
    background-color:#29ABE2;
    cursor: pointer;
   box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
    transition: transform 0.1s ease-in-out, 0.2s;
}

.task-input {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-input input {
    padding: 8px 16px;
    border-radius: 10px;
    height: 32px;
    width: 280px;
    border: 1px solid #A8A8A8; 
    padding-right: 60px; 
    font-size: 24px; 
     transition: border-color 0.2s ease-in-out;
}

.task-input input:focus {
    border: 2px solid #29ABE2; 
    outline: none; 
}

.task-input input::placeholder {
    font-size: 24px; 
    color: #A8A8A8; 
}

/* Lupe und Separator im Input-Feld */
.task-input::before {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;  
    height: 24px; 
    background-image: url('../assets/img/magnifier.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.search-button:hover {
    background-image: url('../assets/img/magnifier-hover.svg'); 
}



.search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url('../assets/img/magnifier.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}


.task-input::after {
    content: "";
    position: absolute;
    right: 40px; 
    top: 8px;
    bottom: 8px;
    width: 1px;
    background-color: #A8A8A8; 
}

.no-tasks{
    display: flex;
    align-items: center;
    justify-content: center;
    size: 16px;
    width: 100%;
    height: 48px;
    color: #a8a8a8;
    border-radius: 10px;
    background-color: #E7E7E7;
    border: 1px dashed #A8A8A8;
}

.task-board {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.task-column {
    overflow-y: auto;
    padding: 10px; 
    padding-right: 20px; 
    box-sizing: border-box; /
}


.task-column::-webkit-scrollbar {
    width: 4px;
}

.task-column::-webkit-scrollbar-thumb {
    background-color: #cccccc; 
    border-radius: 4px;
}

.task-column::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa; 
}

/* Styling des horizontalen Scrollbalkens */
#ToDo::-webkit-scrollbar,
#InProgress::-webkit-scrollbar,
#AwaitFeedback::-webkit-scrollbar,
#Done::-webkit-scrollbar {
    height: 6px; /* Höhe des horizontalen Scrollbalkens */
    cursor: grab;
}

/* Styling des Scrollbalken-Daumens */
#ToDo::-webkit-scrollbar-thumb,
#InProgress::-webkit-scrollbar-thumb,
#AwaitFeedback::-webkit-scrollbar-thumb,
#Done::-webkit-scrollbar-thumb {
    background-color: #cccccc; 
    border-radius: 4px; 
    cursor: grab;
}

/* Hover-Effekt für den Scrollbalken-Daumen */
#ToDo::-webkit-scrollbar-thumb:hover,
#InProgress::-webkit-scrollbar-thumb:hover,
#AwaitFeedback::-webkit-scrollbar-thumb:hover,
#Done::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa; 
    cursor: grab;
}

/* Hintergrund des Scrollbalkens (Track) */
#ToDo::-webkit-scrollbar-track,
#InProgress::-webkit-scrollbar-track,
#AwaitFeedback::-webkit-scrollbar-track,
#Done::-webkit-scrollbar-track {
    background-color: #f0f0f0; 
    cursor: grab;
}

#ToDo:hover, #InProgress:hover, #AwaitFeedback:hover, #Done:hover {
    overflow: auto; 
}

.task-column h2 {
    color: #42526E;
    font-size: 20px;
    width: 244px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-column h2 span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 2px solid #42526E;
    padding: 2px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, 0.2s; 
    margin-left: 10px; 
}

.task-column h2 span:hover {
    color: #29ABE2;
    border: 2px solid #29ABE2;
}

.task-column h2 span:active {
    transform: translateX(5px); 
    transition: transform 0.1s ease-out; 
}

.todo-card{
    width: 212px;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    margin-bottom: 16px;
}

.todo-card:hover{
    cursor: pointer;
}

/* Hintergrundfarbe für User Story Label */
.user-story-label {
    background-color: #0038FF; /* Farbe für User Story */
    border-radius: 8px;
    padding: 4px 16px;
    color: whitesmoke;
   display: inline-block;
}

/* Hintergrundfarbe für Technical Task Label */
.technical-task-label {
    background-color: #1FD7C1;
    border-radius: 8px;
    padding: 4px 16px;
    color: whitesmoke;
    display: inline-block;
}

.technical-task{
    background-color: #1FD7C1;
    border-radius: 8px;
    padding: 4px 16px;
    color: whitesmoke;
    display: inline-block;

}

.card-description{
    font-size: 16px;
    color: #a8a8a8;
    -webkit-box-orient: vertical;
    /* overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word; */
}

.card-progress {
    position: relative;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar {
    width: 120px;
    height: 8px;  
    background-color: #F4F4F4; 
    border-radius: 8px; 
    overflow: hidden; 
    position: relative;
}

.progress {
    width: 64px;
    height: 8px; 
    background-color: #4589FF; 
}

.subtasks {
    margin-top: 10px;
    font-size: 12px;
}

.priority-symbol img{
   padding: 10px 18px;
   width: 32px;
}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; 
    margin-top: 24px;

}

.card-users {
    display: flex;
    align-items: center;
}

.user-badge {
    width: 32px;
    height: 32px;
    border-radius: 50%; 
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #ffffff; 
    margin-left: -10px;
}

.drag-area-highlight {
    border: 1px dashed #42526E;
    min-height: 50px; 
    border-radius: 10px;
}

#ToDo{
    width: 280px;
    height: 100%
}

#inProgress{
    width: 280px;
    height: 100%
}

#AwaitFeedback{
    width: 280px;
    height: 100%
}

#Done{
    width: 280px;
    height: 100%
}

.column-container {
    height: calc(100vh - 200px);
    display: flex;
    justify-content: space-between;
}


/* CSS-Animationen für das Dragging */

@keyframes elasticDrop {
    0% { transform: scale(1.1); }
    60% { transform: scale(0.9); }
    80% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.todo-card.elastic {
    animation: elasticDrop 0.4s ease-in-out;
}




/* DIALOG */

.dialog-bg {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    height: 70vh;
    width: 60vw;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    position: relative;
    transform: translateX(100%);
    opacity: 0; 
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; 
    justify-content: center;
    align-items: center;
}

.dialog.show {
    transform: translateX(0); 
    opacity: 1; 
}

.d-none {
    display: none;
}

.close-popup{
     position: absolute;
    top: 80px;
    right: 208px; 
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.7s ease-in-out, 0.2s;
}

.close-popup:hover{
    border-radius: 50%;
    background: #d1d1d1;
}

#dialog-content .fullpage {
    margin: 20px;
}

#dialog-content .fullpage h1{
    margin-bottom: 0;
}

#dialog-content .submit-area {
    margin-top: 0;
}

#dialog-content .add-task-form{
    height: 600px;
}

#dialog-content #input-description {
    height: 120px;
}

#dialog-content #checkboxes {
  display: none;
  position: absolute;
  z-index: 10;
  border: 1px #dadada solid;
  height: 150px;
  width: 475px; 
  background-color: white;
  overflow-y: auto;
      border-radius: 0 0 10px 10px;
}

#dialog-content .selectBox {
  position: relative; 
  width: 475px; 
}

#dialog-content #checkboxes label {
    display: flex;
    align-items: center;
    padding: 2px 0;
    cursor: pointer; 
    user-select: none; 
    width: 100%;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}


#dialog-content input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #2A3647; 
  border-radius: 4px; 
  position: relative;
  cursor: pointer;
  background-color: white; 
  margin-right: 10px;
}


#dialog-content input[type="checkbox"]:checked {
  background-color: #2A3647; 
  border-color: #2A3647; 
}


#dialog-content input[type="checkbox"]:checked::before {
  content: '✓'; 
  font-size: 14px;
  color: white; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}


@keyframes taskAddedAnimation {

    0% {
        transform: translateY(0); 
        opacity: 0;
    }
    20% {
        transform: translateY(0); 
        opacity: 1;
    }
    100% {
        transform: translateY(-50vh);
        opacity: 1;
    }
}

/* Die Task-Added-Animation */
.task-added-animation {
    position: fixed;
    bottom: -180px;  
    left: 50%;
    transform: translateX(-50%);
    background-color: #2a3647;
    color: whitesmoke;
    font-family: Inter, sans-serif;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
    opacity: 0;  
    visibility: hidden;
    transition: visibility 0.3s ease;
    
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 230px;
    padding: 8px;
}

.task-added-animation.show {
    visibility: visible;
    animation: taskAddedAnimation 2s ease-in-out;
}

.task-added-animation img{
    width: 24px;
    height: 24px;
}



@media screen and (max-width: 1600px) {
    .task-board {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        gap: 20px; 
        width: 100%; 
    }

    .task-column {
        width: 100%; 
        padding: 10px; 
    }

    .column-container {
        display: flex;
        flex-wrap: nowrap; 
        overflow-x: auto; 
        gap: 16px; 
        height: auto;
        padding: 10px;
        box-sizing: border-box;
    }

    #ToDo, #InProgress, #AwaitFeedback, #Done {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 16px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}
}
