body {
    background-color: #F6F7F8;
}

.board-container {
    margin-top: 96px;
    padding-top: 64px;
    margin-left: 338px;
    max-width: 1440px;
    margin-right: 80px;
    overflow-y: auto;
    --sb-track-color: #ffffff;
    --sb-thumb-color: #a8a8a8;
    --sb-size: 6px;

}

.board-container::-webkit-scrollbar {
  width: var(--sb-size)
}


.board-container::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 17px;
}

.board-container::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 17px;
}

.board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#input-deadline-edit {
    display: block !important;
}


.board-header h1 {
    font-size: 62px;
    margin-left: 10px;
    margin-bottom: 0;
    font-weight: 900
}

.task-input-container {
    display: flex;
    align-items: center;
    gap: 20px;
}


.add-task {
    width: 160px;
    height: 48px;
    border-radius: 10px;
    padding: 8px 16px;
    background-color: #2a3647;
    color: #FFFFFF;
    font-size: 24px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.add-task span {
    margin-left: 5px;
}


.add-task:hover{
    background-color:#29ABE2;
    cursor: pointer;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
    transition: transform 0.1s ease-in-out, 0.2s;
}

.task-input {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-input input {
    padding: 8px 16px;
    border-radius: 10px;
    height: 32px;
    width: 280px;
    border: 1px solid #A8A8A8;
    padding-right: 60px;
    font-size: 24px;
    transition: border-color 0.2s ease-in-out;
}

.task-input input:focus {
    border: 2px solid #29ABE2;
    outline: none;
}

.task-input input::placeholder {
    font-size: 24px;
    color: #A8A8A8;
}

/* Lupe und Separator im Input-Feld */
.task-input::before {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url('../assets/img/magnifier.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.search-button:hover {
    background-image: url('../assets/img/magnifier-hover.svg');
}



.search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url('../assets/img/magnifier.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}


.task-input::after {
    content: "";
    position: absolute;
    right: 40px;
    top: 8px;
    bottom: 8px;
    width: 1px;
    background-color: #A8A8A8;
}

.no-tasks {
    display: flex;
    align-items: center;
    justify-content: center;
    size: 16px;
    width: 100%;
    height: 48px;
    color: #a8a8a8;
    border-radius: 10px;
    background-color: #E7E7E7;
    border: 1px dashed #A8A8A8;
}

.task-board {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.task-column {
    overflow-y: auto;
    padding: 10px;
    padding-right: 20px;
    box-sizing: border-box;/
}


.task-column::-webkit-scrollbar {
    width: 4px;
}

.task-column::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 6px;
}

.task-column::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
}

/* Styling des horizontalen Scrollbalkens */
#ToDo::-webkit-scrollbar,
#inProgress::-webkit-scrollbar,
#AwaitFeedback::-webkit-scrollbar,
#Done::-webkit-scrollbar {
    height: 6px;
    /* Höhe des horizontalen Scrollbalkens */
    cursor: grab;
}

/* Styling des Scrollbalken-Daumens */
#ToDo::-webkit-scrollbar-thumb,
#inProgress::-webkit-scrollbar-thumb,
#AwaitFeedback::-webkit-scrollbar-thumb,
#Done::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 4px;
    cursor: grab;
}

/* Hover-Effekt für den Scrollbalken-Daumen */
#ToDo::-webkit-scrollbar-thumb:hover,
#inProgress::-webkit-scrollbar-thumb:hover,
#AwaitFeedback::-webkit-scrollbar-thumb:hover,
#Done::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
    cursor: grab;
}

/* Hintergrund des Scrollbalkens (Track) */
#ToDo::-webkit-scrollbar-track,
#inProgress::-webkit-scrollbar-track,
#AwaitFeedback::-webkit-scrollbar-track,
#Done::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    cursor: grab;
}

#ToDo:hover,
#inProgress:hover,
#AwaitFeedback:hover,
#Done:hover {
    overflow: auto;
}

.task-column h2 {
    color: #42526E;
    font-size: 20px;
    width: 244px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-column h2 span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 2px solid #42526E;
    padding: 2px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, 0.2s;
    margin-left: 10px;
}

.task-column h2 span:hover {
    color: #29ABE2;
    border: 2px solid #29ABE2;
}

.task-column h2 span:active {
    transform: translateX(5px);
    transition: transform 0.1s ease-out;
}

.todo-card {
    width: 212px;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    margin-bottom: 16px;
}

.todo-card:hover {
    cursor: pointer;
}

/* Hintergrundfarbe für User Story Label */
.user-story-label {
    background-color: #0038FF;
    /* Farbe für User Story */
    border-radius: 8px;
    padding: 4px 16px;
    color: whitesmoke;
    display: inline-block;
}

/* Hintergrundfarbe für Technical Task Label */
.technical-task-label {
    background-color: #1FD7C1;
    border-radius: 8px;
    padding: 4px 16px;
    color: whitesmoke;
    display: inline-block;
}

.technical-task {
    background-color: #1FD7C1;
    border-radius: 8px;
    padding: 4px 16px;
    color: whitesmoke;
    display: inline-block;

}

.card-description {
    font-size: 16px;
    color: #a8a8a8;
    width: 212px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: 1.5;
    max-height: calc(1.5em * 3);
}

.card-progress {
    position: relative;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar {
    width: 120px;
    height: 8px;
    background-color: #F4F4F4;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.progress {
    width: 64px;
    height: 8px;
    background-color: #4589FF;
}

.subtasks {
    margin-top: 10px;
    font-size: 12px;
}

.priority-symbol img {
    padding: 10px 18px;
    width: 32px;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 24px;

}

.card-users {
    display: flex;
    align-items: center;
}

.user-badge {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #ffffff;
    margin-left: -10px;
}

.drag-area-highlight {
    border: 1px dashed #42526E;
    min-height: 50px;
    border-radius: 10px;
}

#ToDo {
    width: 280px;
    height: 100%
}

#inProgress {
    width: 280px;
    height: 100%
}

#AwaitFeedback {
    width: 280px;
    height: 100%
}

#Done {
    width: 280px;
    height: 100%
}

.column-container {
    height: calc(100vh - 200px);
    display: flex;
    justify-content: space-between;
}


/* CSS-Animationen für das Dragging */

@keyframes elasticDrop {
    0% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(0.9);
    }

    80% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.todo-card.elastic {
    animation: elasticDrop 0.4s ease-in-out;
}




/* DIALOG */

.dialog-bg {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    height: 70vh;
    width: 60vw;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    position: relative;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
}

.dialog.show {
    transform: translateX(0);
    opacity: 1;
}

.d-none {
    display: none;
}

.close-popup {
    position: absolute;
    top: 80px;
    right: 208px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.7s ease-in-out, 0.2s;
}

.close-popup:hover {
    border-radius: 50%;
    background: #d1d1d1;
}

#dialog-content .fullpage {
    margin: 20px;
}

#dialog-content .fullpage h1 {
    margin-bottom: 0;
}

#dialog-content .submit-area {
    margin-top: 0;
}

#dialog-content .add-task-form {
    height: 380px;
}

#dialog-content #input-description {
    height: 120px;
}


#dialog-content .headline-container h1 {
    margin: 0;
    margin-bottom: 64px;
    margin-left: 106px;
}

#dialog-content #checkboxes {
    display: none;
    position: absolute;
    z-index: 10;
    border: 1px #dadada solid;
    height: 150px;
    width: 35%;
    background-color: white;
    overflow-y: auto;
    border-radius: 0 0 10px 10px;
}

#dialog-content .selectBox {
  position: relative; 
  width: 100%; 
}

#dialog-content #checkboxes label {
    display: flex;
    align-items: center;
    padding: 2px 0;
    cursor: pointer;
    user-select: none;
    width: 100%;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}


#dialog-content input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #2A3647;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    background-color: white;
    margin-right: 10px;
}


#dialog-content input[type="checkbox"]:checked {
    background-color: #2A3647;
    border-color: #2A3647;
}


#dialog-content input[type="checkbox"]:checked::before {
    content: '✓';
    font-size: 14px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#dialog-content .add-task-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#dialog-content .prio-container{
    width: 30%;
}

#dialog-content .overSelect{
    width: 70%;
}

#dialog-content .input-field-select{
    width: 100%;
}

#dialog-content .multiSelect{
    width: 100% !important;
}

@keyframes taskAddedAnimation {

    0% {
        transform: translateY(0);
        opacity: 0;
    }

    20% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-50vh);
        opacity: 1;
    }
}

/* Die Task-Added-Animation */
.task-added-animation {
    position: fixed;
    bottom: -180px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2a3647;
    color: whitesmoke;
    font-family: Inter, sans-serif;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s ease;

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 230px;
    padding: 8px;
}

.task-added-animation.show {
    visibility: visible;
    animation: taskAddedAnimation 2s ease-in-out;
}

.task-added-animation img {
    width: 24px;
    height: 24px;
}

#plus-mobile {
    background-color: #2a3647;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    width: 40px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border: none;
    padding: 0;
}

#plus-mobile:hover {
    background-color: #29ABE2;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

@media screen and (max-width: 1800px) {
    .dialog{
        height: 80vh;

    }
    #dialog-content .add-task-form {
    height: 310px;
    }

    #dialog-content .headline-container h1 {
    margin-bottom: 40px;
    }

    .close-popup{
        right: 120px;
        top: 40px;
    }
}

@media screen and (max-width: 1600px) {
    .task-board {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
    }

    .task-column {
        width: 100%;
        padding: 10px;
    }

    .task-column h2 {
        width: 100%;
        font-size: 27px;
        line-height: 32.4px;
    }

    .column-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 16px;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
    }

    #ToDo,
    #inProgress,
    #AwaitFeedback,
    #Done {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        gap: 16px;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
    }

    #plus-mobile {
        display: inline !important;
    }

    .add-task {
        width: 48px;
        height: 48px;
        padding: 8px;
    }

    .add-task span {
        display: none;
    }

    .add-task::before{
        content: '+';
        font-size: 24px;
        display: block;
        margin: 0 auto;
        line-height: 48px;
        text-align: center;
    }

    .board-header {
        flex-direction: column;
    }

    .mobile {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .board-header {
        width: 100%;
    }

    .task-input-container {
        width: 100%;
    }

    .task-input input {
        width: 100%;
    }

    .task-input {
        width: 100%;
    }


    .board-container {
        margin-left: 236px;
        margin-right: 8px
    }

    #dialog-content .close-popup{
        right: 100px;
    }
}

@media screen and (max-width: 1460px){
    #dialog-content .prio-container{
        font-size: 14px;
        gap: 2px;
    }
    
    #dialog-content .add-task-form .input-field .input-field-select{
        font-size: 14px;
    }

    #dialog-content .blue-btn{
        font-size: 16px;
    }

    #dialog-content .white-btn{
        font-size: 16px;
    }

    #dialog-content .fullpage h1{
        font-size: 46px;
    }

    #dialog-content .headline-container h1{
        margin-left: 56px;
    }

        #dialog-content .close-popup{
        top: 40px;
    }

    #dialog-content .input-field{
        font-size: 14px;
    }

    #dialog-content #input-description{
        font-size: 14px;
    }

    #dialog-content .input-field-select{
        font-size: 14px;
    }

    #dialog-content #subtasks {
        font-size: 14px;
    }
}

@media screen and (max-width: 1060px){
    #dialog-content form{
        margin-bottom: 0;
    }

    .dialog{
        width: 80vw;
    }

    #dialog-content .input-field {
        width: 90%;
    }

    #dialog-content #input-description {
        width: 90%;
    }

    #dialog-content .multiSelect{
        width: 90%;
    }

    #dialog-content .selectBox {
        width: 100%;
    }

    #dialog-content .form-left-side{
        border-right: solid 1px #D1D1D1;
    }

    #dialog-content .contact-for-form div{
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px){
    #dialog-content .form-left-side{
        border-right: solid 1px #D1D1D1;
        margin: 24px 0 24px 8px;
    }

    #dialog-content .from-right-side{
        margin: 24px 0px 24px 40px;
    }

    #dialog-content .headline-container h1{
        margin-left: 8px;
    }

    #dialog-content .white-btn{
        display: inline;
        width: 100px;
        height: 48px;
        display: flex;
        color: #2A3647;
        align-items: center;
        justify-content: center;
        border: 1px solid #2A3647;
        border-radius: 8px;
        background-color: white;
        font-family: Inter-Bold;
        font-size: 16px;
        cursor: pointer;
        transition: 100ms linear;
    }

    #dialog-content .white-btn:hover {
    color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}


#dialog-content .white-btn:hover img {
  filter: invert(66%) sepia(29%) saturate(4458%) hue-rotate(165deg) brightness(93%) contrast(89%);
  transition: 100ms linear;
}

#dialog-content .blue-btn{
    width: 180px;
    height: 48px;
}

#dialog-content .red-letter-resp{
    margin-right: 100px;
}

#dialog-content .submit-area-help-container{
    justify-content: right;
}
}


@media screen and (max-width: 650px) {
    .mobile h1 {
        font-size: 48px;
    }

    .board-container {
        width: 90%;
        margin-left: 0;
        padding: 24px;
        padding-bottom: 112px;
    }

    .board-header {
        gap: 40px;
        margin-bottom: 24px;
    }

    .dialog{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}


.subtasks-area {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

#task-details-edit {
    overflow: auto;
    height: 80vh;
    box-shadow: none;

    --sb-track-color: #ffffff;
    --sb-thumb-color: #a8a8a8;
    --sb-size: 6px;
}

#checkboxes-edit {
    display: none;
    border: 1px #dadada solid;
    height: 150px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    --sb-track-color: #ffffff;
    --sb-thumb-color: #a8a8a8;
    --sb-size: 6px;
}


#checkboxes-edit label {
    display: block;
}


#checkboxes-edit label:hover {
    background-color: #1e90ff;
}


#task-details-edit::-webkit-scrollbar {
    width: var(--sb-size)
}


#task-details-edit::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 17px;
}


#task-details-edit::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 17px;
}

#pop-up-content-edit{
    height: 95vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}


#pop-up-content-edit-container {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);
}

#pop-up-content{
    height: 78vh;
}

.cancel-cross {
    border-radius: 50%;
    padding: 12px;

}

.cancel-cross:hover {
    cursor: pointer;
    background-color: #D1D1D1;

}

.right-align {
    display: flex;
    justify-content: flex-end;
}




textarea {
    width: 90%;
    height: 90px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 12px 12px 0 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;
    font-family: Inter;
    margin: 4px 0 32px 0;
    overflow: auto;
    resize: none;
    word-break: keep-all;
    box-sizing: border-box;
}

#subtasks-edit {
    font-family: Inter;
    width: 90%;
    height: 48px;
    border: none;
    border-radius: 10px;
    padding: 0 12px 0 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;
}


#subtasks-edit:focus {
    outline: none !important;
    border: 0px;
}


#subtasks-edit::placeholder {
    color: #D1D1D1;
}

#add-button-icon-plus-edit {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}


#add-button-icon-plus-edit:hover {
    background-color: #D1D1D1;
    cursor: pointer;
}


#add-button-icon-check-edit {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}


#add-button-icon-cancel-edit:hover {
    background-color: #D1D1D1;
    cursor: pointer;
}

#add-button-icon-cancel-edit {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;

}


.circle-yellow {
    background-color: #ffbb2b !important;
}


.circle-orange {
    background-color: #ff7a00 !important;
}


.circle-turquoise {
    background-color: #1fd7c1 !important;
}


.circle-purple {
    background-color: #462f8a !important;
}


.circle-lightpurple {
    background-color: #6e52ff !important;
}


.circle-blue {
    background-color: #0038ff !important;
}


.circle-lightblue {
    background-color: #00bee8 !important;
}


.circle-pink {
    background-color: #fc71ff !important;
}


.circle-lightred {
    background-color: #ff4646 !important;
}


.circle-green {
    background-color: #33691e !important;
}

#circle-area-assigned-contacts-edit {
    display: flex;
}

#addTaskDialog{
display: flex;
align-items: center;
justify-content: center;
}


#addTaskDialog form{
    padding: 40px;
    border-radius: 16px;
    background-color: white;
}
