@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter_18pt-Regular.ttf);
    font-style: normal;
}


* {
    font-family: 'Inter';
}


body {
    background-color: #F6F7F8;
    height: calc(100vh - 136px);
}


#contacts-area {
    width: 456px;
    height: calc(100vh - 118px);
    background-color: white;
    margin-left: 232px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 22px 0px 0px 28px;
}


.add-contact-button {
    background-color: #2A3647;
    color: white;
    width: 352px !important;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap: 8px;
    font-size: 21px;
    font-weight: 700;
}


.add-contact-button:hover {
    cursor: pointer;
}


.button-area {
    display: flex;
    gap: 24px;
}


.flexed {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.blue-btn {
    width: 214px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    background-color: #2A3647;
    color: white;
    font-family: Inter-Bold;
    font-size: 21px;
    cursor: pointer;
    transition: 100ms linear;
    gap: 4px;
}


.blue-btn:hover {
    background-color: #29ABE2;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}


.add-contact-dialog-header {
    display: flex;
    justify-content: flex-end;
    padding: 48px 48px 0px 0px;
    margin-bottom: 60px;
}


.white-input-btn {
    width: 126px;
    height: 57px;
    gap: 4px;
    display: flex;
    color: #2A3647;
    align-items: center;
    justify-content: center;
    border: 1px solid #2A3647;
    border-radius: 8px;
    background-color: white;
    font-family: Inter-Bold;
    font-size: 21px;
    cursor: pointer;
    transition: 100ms linear;
}


.white-input-btn:hover {
    color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}


.white-input-btn:hover img {
    filter: invert(66%) sepia(29%) saturate(4458%) hue-rotate(165deg) brightness(93%) contrast(89%);
    transition: 100ms linear;
}


.white-input-btn-edit {
    width: 113px;
    height: 57px;
    gap: 4px;
    display: flex;
    color: #2A3647;
    align-items: center;
    justify-content: center;
    border: 1px solid #2A3647;
    border-radius: 8px;
    background-color: white;
    font-family: Inter-Bold;
    font-size: 21px;
    cursor: pointer;
    transition: 100ms linear;
}


.white-input-btn-edit:hover {
    color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}


.blue-btn-edit {
    width: 111px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    background-color: #2A3647;
    color: white;
    font-family: Inter-Bold;
    font-size: 21px;
    cursor: pointer;
    transition: 100ms linear;
    gap: 4px;
}


.blue-btn-edit:hover {
    background-color: #29ABE2;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}


.contact-card {
    background-color: #2A3647;
    border-radius: 10px;
    width: 352px;
    height: 78px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    Padding: 15px 24px 15px 24px;
    Gap: 35px;
}


.contact-page {
    display: flex;
    margin-top: 96px;
}


#choosen-contact {
    background-color: #f6f7f8;
    padding: 0;
    width: 100%;
    margin-top: 10px;
    font-weight: 400;
    font-size: 27px;
    padding: 100px 0px 0px 30px;
}


.letter-card a {
    color: #007cee;
    font-size: 16px;
    text-decoration: none;
}


.contact-card-names {
    font-size: 20px;
}


.contact-card-letter {
    font-size: 21px;
    font-weight: 400;
    width: 352px;
    height: 74px;
    border-bottom: solid 1px #d1d1d1;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}


.contact-datas {
    width: 304px;
    height: 48px;
    display: flex;
    padding: 15px 24px 15px 24px;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}


#contacts-alphabet-list {
    padding: 0;
    margin: 0;
    width: 400px;
    height: calc(100vh - 250px);
    overflow-y: auto;
    overflow-x: hidden;

    --sb-track-color: #ffffff;
    --sb-thumb-color: #a8a8a8;
    --sb-size: 6px;
}

#contacts-alphabet-list::-webkit-scrollbar {
    width: var(--sb-size)
}

#contacts-alphabet-list:-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 17px;
}

#contacts-alphabet-list::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 17px;
}


.contact-datas:hover {
    background-color: #d1d1d1;
    cursor: pointer;
}


.choosen-contact-headline {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}


#choosen-contacts-name {
    font-size: 47px;
    font-weight: 500;
    margin-bottom: 12px;
}


#choosen-contact span {
    font-size: 61px;
    font-weight: 700 !important;
}


.choosen-contact-card {
    display: flex;
    align-items: center;
}


#edit-initials {
    width: 120px;
    height: 120px;
    background-color: grey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 47px;
    font-weight: 500;
}


.edit-area {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-right: 16px;
}


.edit-area img {
    height: 18.25px;
    width: 18.25px;
}


.edit-area-field {
    margin-right: 24px;
}


.edit-area-field:hover {
    cursor: pointer;
}


.mail-and-phone {
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;
}


.bg-dark-blue {
    background-color: #2A3647;
    color: white;
}


.bg-dark-blue:hover {
    background-color: #2A3647;
    color: white;
}


.contact-information {
    font-weight: 400;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}


.mail-choosen {
    color: #007cee;
    font-size: 16px;
    text-decoration: none;
}


.phone-choosen {
    font-weight: 400;
    font-size: 16px;
    color: black;
}


.cancel-add-contact-dialog {
    border-radius: 50%;
    padding: 8px;
}


.cancel-add-contact-dialog:hover {
    cursor: pointer;
    background-color: #d1d1d1;
}


.dialog-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-dialog {
    z-index: 110;
    height: 594px;
    display: flex;
}


.contact-dialog-logo-side {
    width: 467px;
    height: 100%;
    background-color: #2A3647;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}


.contact-dialog-edit-side {
    width: 745px;
    height: 100%;
    background-color: white;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}


.contact-dialog-logo-side h2 {
    color: white;
    font-weight: 700;
    font-size: 61px;
    margin-top: 0;
    margin-bottom: 0;
}


.contact-dialog-logo-side span {
    color: white;
    font-weight: 400;
    font-size: 27px;
    margin-top: 0;
}


.dialog-logo {
    width: 55.6px;
    height: 66.48px;
    margin-bottom: 16px;
}


.dialog-separator {
    width: 90px;
    margin-top: 16px;
    border-top: solid 3px #29ABE2
}


.d-none {
    display: none;
}


.input-field {
    width: 422px;
    height: 48px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 12px 21px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;
    margin-bottom: 32px;
}


.input-field::placeholder {
    color: #D1D1D1;
}


.input-field:focus {
    outline: none !important;
    border: 1px solid #007cee;
    box-shadow: 0 0 10px #719ECE;
}


.icon-small-person {
    padding-right: 25px;
    background: url("../assets/img/input-icon-person.svg") no-repeat;
    background-size: 24px;
    background-position: 400px;
}


.icon-small-mail {
    padding-right: 25px;
    background: url("../assets/img/input-icon-mail.svg") no-repeat;
    background-size: 24px;
    background-position: 400px;
}


.icon-small-call {
    padding-right: 25px;
    background: url("../assets/img/input-icon-call.svg") no-repeat;
    background-size: 24px;
    background-position: 400px;
}


.circle {
    border-radius: 50%;
    border: solid 2px white;
    height: 42px;
    width: 42px;
    min-height: 42px;
    min-width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    color: white;

}


.circle-big {
    border-radius: 50%;
    border: solid 3px white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    height: 120px;
    width: 120px;
    min-height: 120px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    color: white;
    font-size: 47px;
    font-weight: 400;
}


.circle-yellow {
    background-color: #ffbb2b !important;
}


.circle-orange {
    background-color: #ff7a00 !important;
}


.circle-turquoise {
    background-color: #1fd7c1 !important;
}


.circle-purple {
    background-color: #462f8a !important;
}


.circle-lightpurple {
    background-color: #6e52ff !important;
}


.circle-blue {
    background-color: #0038ff !important;
}


.circle-lightblue {
    background-color: #00bee8 !important;
}


.circle-pink {
    background-color: #fc71ff !important;
}


.circle-lightred {
    background-color: #ff4646 !important;
}


.circle-green {
    background-color: #33691e !important;
}


.choosen-contact-card-container {
    animation: slideInFromRight 0.25s ease-out;
    opacity: 1;
    transform: translateX(0);
}


@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


#add-contact-dialog.show {
    animation: slidein 0.5s, fadein 0.5s;
}


#add-contact-dialog.hide {
    animation: slideout 0.5s, fadeout 0.5s;
}


@keyframes slidein {
    from {
        right: -200vw;
    }

    to {
        right: center;
    }
}


@keyframes slideout {
    from {
        right: center;
    }

    to {
        right: -200vw;
    }
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.arrow-back {
    display: none;
}

#toaster-contact {
    width: 312px;
    height: 74px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A3647;
    font-size: 20px;
    color: white;
    position: fixed;
    z-index: 1;
    gap: 24px;
    bottom: 10%;
    transform: translateX(-50%);
    right: 100vw;
}


#toaster-contact.show {
    visibility: visible;
    animation: slideintoaster 0.75s, staytoaster 1s 0.75s, slideouttoaster 0.75s 1.5s;
}

.choosen-contact-headline-resp {
    display: none;
}

.close-dialog-resp {
    display: none;
}


#choosen-contacts-name {
    width: 90%;

    overflow-wrap: break-word;
}

@keyframes slideintoaster {
    from {
        right: -100vw;
    }

    to {
        right: 0;
    }
}

@keyframes staytoaster {
    from {
        right: 0;
    }

    to {
        right: 0;
    }
}

@keyframes slideouttoaster {
    from {
        right: 0;
    }

    to {
        right: -100vw;
    }
}

@media(min-width: 1001px) and (max-width: 1280px) {
    .contact-dialog-logo-side {
        width: 30vw;
        height: 100%;
        padding-left: 30px;
    }

    .contact-dialog-edit-side {
        width: 60vw;
        height: 100%;
    }

    .contact-dialog-edit-side input {
        width: 300px;
    }

    .icon-small-person {

        background-position: 90%;
    }

    .icon-small-mail {

        background-position: 90%;
    }

    .icon-small-call {

        background-position: 90%;
    }

}


@media(max-width: 1200px) {
    #contacts-area {
        width: 320px;
        padding: 22px 0px 0px 10px;
    }

    #contacts-alphabet-list {
        width: 320px;
        height: calc(100vh - 250px);
    }

    .add-contact-button {
        width: 300px !important;
    }

    .contact-datas {
        width: 280px;
        padding: 15px 24px 15px 10px;
    }

    .circle {
        margin-right: 20px;
    }

}

@media(max-width: 1000px) {
    .circle-big {
        margin-right: 10px;
        height: 80px;
        width: 80px;
        min-height: 80px;
        min-width: 80px;
        font-size: 27px;
    }


    .close-dialog-resp {
        display: flex;
        z-index: 200;
        justify-content: flex-end;
        border-radius: 50%;
        position: relative;
        top: 8%;
        left: 42%;


    }

    .close-dialog-resp img:hover {
        cursor: pointer;

    }

    .close-dialog-resp img {
        border-radius: 50%;
    }

    .close-dialog-resp img:active {
        background-color: #29ABE2;

    }

    .dialog-separator {
        width: 60px;
    }

    .icon-small-person {

        background-position: 90%;
    }


    .icon-small-mail {

        background-position: 90%;
    }


    .icon-small-call {

        background-position: 90%;
    }

    .blue-btn {
        height: 51px;
        font-size: 21px;
        margin-top: 16px;
    }

    .blue-btn img {
        width: 15px;
        height: 11px;
    }

    .blue-btn-edit {
        height: 51px;
        font-size: 21px;
        margin-top: 16px;
    }

    .blue-btn-edit img {
        width: 15px;
        height: 11px;
    }

    .white-input-btn-edit {
        height: 51px;
        font-size: 21px;
        margin-top: 16px;
    }


    .contact-dialog {
        z-index: 200;
        height: 75vh;
        width: 80vw;
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .contact-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-dialog-logo-side {
        width: 90%;
        height: 40%;
        background-color: #2A3647;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        border-bottom-left-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 24px 0px 24px;

    }

    .contact-dialog-logo-side h2 {
        font-size: 47px;
    }

    .dialog-logo {
        display: none;
    }

    .contact-dialog-logo-side span {
        font-size: 20px;
    }

    .contact-dialog-edit-side {
        width: 90%;
        height: 60%;
        background-color: white;
        border-top-right-radius: 0;
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 24px;
        padding: 0px 24px 0px 24px;
    }

    .cancel-add-contact-dialog {
        display: none;
    }

    .middle-area {
        z-index: 300;
        position: relative;
        width: 100%;
        top: -200px;
        padding-top: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }

    .middle-area img {
        height: 120px;
        margin-bottom: 0px;
    }

    .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 8px;
    }

    .white-input-btn {
        display: none;
    }

    .button-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-field {
        height: 41px;
        width: 80%;
        margin-bottom: 8px;
    }

    .contact-page {
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
    }

    #choosen-contacts-name {
        font-size: 36px;
    }

    .arrow-back {
        display: flex;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 100px;
        right: 20px;
        margin-right: 0px;
        border-radius: 50%;
    }

    .arrow-back:hover {
        cursor: pointer;
        background-color: #d1d1d1;

    }

    #contacts-area {
        width: calc(100% - 232px);
        padding: 22px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contacts-alphabet-list {
        width: calc(100vw - 260px);
        height: calc(100vh - 250px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .add-contact-button {
        display: none;
    }

    .add-contact-button-resp {
        background-color: #2A3647;
        border-radius: 50%;
        height: 56px;
        width: 56px;
        transition: 100ms linear;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 16px;
        right: 40px;
    }

    .add-contact-button-resp:hover {
        background-color: #29ABE2;
        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }


    #choosen-contact {
        display: none;
        width: calc(100% - 232px);
        font-weight: 200;
        font-size: 16px;
        padding: 100px 0px 0px 0px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 232px;
        right: 0;
    }

    #choosen-contact-loading-area {
        margin-left: 32px;
    }

    .choosen-contact-headline {
        display: none;
    }

    .choosen-contact-headline-resp {
        margin-left: 32px;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .choosen-contact-headline-resp h1 {
        margin: 0;

    }

    .choosen-contact-headline-resp img {
        rotate: 90deg;
        height: 50px;
        width: 50px;
    }

    .choosen-contact-headline-resp-container {
        display: flex;
        justify-content: space-between;

    }

    .contact-card-letter {
        width: 100%;
    }

    .help-width {
        width: 90%;
    }

    .letter-card {
        width: 100%;

    }

    .contact-card-names {
        width: 100%;
    }

}

@media(max-width: 650px) {

    .add-contact-button-resp {
        bottom: 90px;

    }


    #contacts-area {
        margin-left: 0;
        width: 100vw;
    }

    #contacts-alphabet-list {
        width: 100%;
    }

    #choosen-contact {
        display: none;
        width: 100%;
        font-weight: 200;
        font-size: 16px;
        padding: 100px 0px 0px 0px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }
}

@media(max-width: 360px) {
    .choosen-contact-headline-resp {
        margin-top: 40px;
    }


    .contact-datas {
        width: 240px;
        height: 48px;
        display: flex;
        padding: 15px 24px 15px 24px;
        align-items: center;
        border-radius: 10px;
    }


}