body {
  background-color: #f6f7f8;
  font-size: 20px;
  line-height: 24px;
}

.help-container {
  margin-top: 96px;
  margin-left: 328px;
  max-width: 1440px;
  margin-right: 96px;
  padding: 64px 0 0 0;
}

.help-container h1 {
  font-size: 60px;
}

li {
  margin-bottom: 32px;
}

ol > li::marker {
  font-weight: bold;
}

li {
  position: relative;
  padding-left: 35px;
  font-size: 16px;
}

li:before {
  position: absolute;
}

.enjoy-using-join {
  margin-bottom: 64px;
}

.help-icon:hover {
  width: 40px;
  height: 40px;
  transition: transform 0.1s ease-in-out, 0.2s;
}

.arrow-left-line {
  margin: 0;
  cursor: pointer;
}

.history-back-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1000px) {
  .history-back-container {
    height: fit-content;
  }

  .help-container h1 {
    font-size: 47px;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 28px;
    margin: 0;
    height: fit-content;
  }

  .privacy-policy-content {
    margin: 160px 24px 0 260px;
  }

  .enjoy-using-join {
    height: fit-content;
    font-size: 30px;
  }

  li {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 47px;
  }

  h2 {
    font-size: 28px;
  }

  .help-container {
    margin: 160px 24px 104px 24px;
    padding: 0;
  }

  li {
    padding-left: 8px;
  }
}

@media (max-width: 420px) {
  .h1 {
    font-size: 28px;
  }

  .help-container {
    padding: 0;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  li {
    font-size: 12px;
    padding-left: 8px;
  }
}
