@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: Inter-Bold;
    src: url(../assets/fonts/Inter_28pt-Bold.ttf);
}s

* {
    box-sizing: border-box;
    margin: 0 auto;
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: #A8A8A8;
}

.d-none {
    display: none !important;
}

.menu-container {
    background-color: #2A3647;
    width: 232px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
}

.board-header h1{
    margin-top: 0;
}

.join-logo img {
    width: 100px;
    height: 120px;
    margin-top: 80px;
}

.menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.menu-item {
    display: flex;
    align-items: center; 
    justify-content: start;
    padding: 10px 15px; 
    width: 100%; 
    transition: background-color 0.3s ease;
    height: 46px; 
    padding-left: 112px;
}

.menu-item:hover {
    background-color: #2a3d59; 
     
}

.menu-item.active {
     background-color: #091931 !important;
     cursor: default;
     color: white;
}



.menu-item img {
    margin-right: 10px; 
    width: 30px;
    height: 30px;
}

.menu-item span {
    font-size: 16px;
    font-weight: 200;
}

.legal-links{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.legal-links a{
    color: #A8A8A8;
    padding: 8px;
    gap: 8px;
}


.legal-links a:hover{
    font-weight: 700;
    cursor: pointer;
    color: #29abe2;
}

/* HEADER */


.header {
    position: fixed; 
    top: 0; 
    left: 0;
    width: calc(100% - 232px);
    margin-left: 232px; 
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
}

.header h3{
    margin-left: 80px;
    font-size: 20px;
    font-weight: 400;
}

.help-user-icons{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 64px;
}

.user-profil{
    width: 56px;
    height: 56px;
    cursor: pointer;
}

.help-icon{
    width: 32px;
    height: 32px;
}

#logout-container {
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: end;
    z-index: 3;
    position: absolute;
    right: 10px;
}

#logout-menu {
    width: 150px;
    height: 158px;
    padding: 10px;
    border-radius: 20px 0 20px 20px;
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.logout-menu-btn {
    width: 130px;
    height: 46px;
    gap: 8px;
    font-family: Inter;
    font-size: 16px;
    color: #CDCDCD;
    background-color: #2A3647;
    border: none;
    cursor: pointer;
}

.logout-menu-btn:hover {
    background-color: #2A3A51;
}