* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Inter;
    margin: 0 auto;
}

.d-none {
    display: none !important;
} 

.hidden {
    visibility: hidden;
}

#animated-logo-container {
    width: 100%;
    height: 100vh;
    background-color: #F6F7F8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;

    position: fixed;
    top: 0;
    left: 0;
    
}

@keyframes logoShrinkAndMove {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(0.4) translate(-80vw, -70vh);
    }
}

#animated-logo {
    width: 274px;
    height: 334px;
    transform-origin: top left;
    animation-fill-mode: forwards; 
}

#loginpage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F7F8;
    opacity: 0;  
    transition: opacity 1.5s ease-in-out;
    overflow: hidden;
}

#loginpage.show {
    opacity: 1;  
}


#joinlogo {
    transition: visibility 0s, opacity 0s ease-in-out;
    opacity: 0;
}


#joinlogo.show {
    visibility: visible;
    opacity: 1;
}

.logo-behind {
    z-index: 0;
    position: absolute;
    pointer-events: none; 
}

h1 {
    width: 315px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 61px;
    margin: 0;
    font-family: Inter-Bold;
}

.h1-signup {
    width: 315px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 61px;
    margin: 0 32px 0 0;
    font-family: Inter-Bold;
}

#joinlogo {
    width: 100px;
    height: 121px;
    position: absolute;
    top: 50px; 
    left: 50px;
}

#signup-headline {
    width: 315px;
    height: 89px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 32px 0;
}

.arrow-left-line {
    margin: 0;
    position: relative;
    left: -105px;
    cursor: pointer;
}

#border-headline {
    width: 150px;
    height: 3px;
    border-bottom: 3px solid #29ABE2;
}

#registerpage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F7F8;
}

#registerform {
    width: 598px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    background-color: white;
    padding: 48px 88px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.input-field {
    width: 422px;
    height: 48px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 12px 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;
    margin: 4px 0;
}

.small-icons-inputfield {
    width: 24px;
    height: 24px;
    margin: 0;
    position: relative;
    top: -40px;
    left: 180px;
}

.input-field:focus {
    outline: none;
}

::placeholder {
    color: #D1D1D1;
}

.signup-icons {
    width: 24px;
    height: 24px;
}

#loginbuttons {
    width: 360px;
    height: 48px;
    display: flex;
    margin: 32px 0 0 0;
}

#input-btn {
    width: 126px;
    height:48px;
    border: none;
    border-radius: 8px;
    background-color: #2A3647;
    color: white;
    font-family: Inter-Bold;
    font-size: 21px;
    cursor: pointer;
    transition: 100ms linear;
}

#input-btn:hover:enabled {
    background-color: #29ABE2;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

#guest-input-btn {
    width: 177px;
    height: 48px;
    border: 1px solid #2A3647;
    border-radius: 8px;
    background-color: white;
    font-family: Inter-Bold;
    font-size: 21px;
    cursor: pointer;
    transition: 100ms linear;
}

#guest-input-btn:hover {
    color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

#input-btn-small {
    width: 90px;
    height:50px;
    border: none;
    border-radius: 8px;
    background-color: #2A3647;
    color: white;
    font-family: Inter-Bold;
    font-size: 16px;
    cursor: pointer;
    transition: 100ms linear;
}

#input-btn-small:hover {
    background-color: #29ABE2;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

#rememberme {
    width: 422px;
    height: 24px;
    font-family: Inter;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 0 0 0 48px;
}

.checkbutton {
    width: 16px;
    height: 16px;
    margin: 0 8px 0 0;
}

#privacy-policy-accept {
    width: 420px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A8A8A8;
    margin: 0 0 12px 0;
}

.link-privacy-policy-style {
    margin: 0 0 0 4px;
    color: #29ABE2;
}

#loginpage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F7F8;
}

#loginform {
    width: 652px;
    height: 493px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    background-color: white;
    padding: 48px 88px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

#msgBox {
    width: 422px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    gap: 12px;
}

#strong {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm_style {
    width: 24px;
    height: 24px;
    position: relative;
    top: -65px;
    left: 230px;
    margin: 0;
}

#privacy-legal {
    width: 246px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 120px 0 0 0;
}

#privacy-legal a:hover {
    color: #29abe2;
}

#joinuser {
    width: 280px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 180px 950px;
}

#toaster {
    visibility: hidden;
    width: 312px;
    height: 74px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 0px 25px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A3647;
    font-size: 20px;
    color: white;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: -74px;
    transform: translateX(-50%);
}

#toaster.show {
    visibility: visible;
    animation: slidein 0.75s, stay 1s 0.75s, slideout 0.75s 1.5s;
}

#wrongEmailOrPassword {
    visibility: hidden;
    width: 312px;
    height: 74px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 0px 25px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A3647;
    font-size: 20px;
    color: white;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: -74px;
    transform: translateX(-50%);
}

#wrongEmailOrPassword.show {
    visibility: visible;
    animation: slidein 0.75s, stay 1.5s 0.75s, slideout 1s 2s;
}


@keyframes slidein {
    from { bottom: -74px; }
    to { bottom: 50%; }
}

@keyframes stay {
    from { bottom: 50%; }
    to { bottom: 50%; }
}

@keyframes slideout {
    from { bottom: 50%; }
    to { bottom: -74px; }
}

@keyframes LogoAni {
    100% {transform: scale(0.5) translate(-994px, -860px)}
}

@media (max-width: 650px) {
    #registerform {
        width: 396px;
        height: 595px;
        padding: 32px 0;
    }

    .input-field {
        width: 364px;
        height: 50px;
    }

    .small-icons-inputfield {
        left: 160px;
        top: -42px;
    }

    .h1-signup {
        font-size: 47px;
    }

    #border-headline {
        width: 88px;
}

.arrow-left-line {
    left: -40px;
}

@media (max-width: 430px) {
    #registerform {
        width: 280px;
}

.input-field {
    width: 250px;
    height: 40px;
}

.small-icons-inputfield{
    left: 100px;
    top: -37px;
}

.arrow-left-line {
    left: -10px;
}

}

}