body {
  overflow: hidden;
  background-color: #f6f7f8;
}

.summary-container {
  margin-top: 96px;
  max-width: 1440px;
  width: 100%;
  height: calc(100vh - 96px);
  display: flex;
}

#content-summary-left {
  width: 950px;
  display: flex;
  flex-direction: column;
  background-color: #f6f7f8;
  margin: 0;
}

#content-summary-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f6f7f8;
  margin: 380px 0 0 0;
}

#content-summary-right-mobile {
  width: 100%;
  height: 100vh;
  background-color: #f6f7f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  animation: mobileGreeting 3s 1.25s 1 forwards;
}

#join-360 {
  width: 625px;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0 0 300px;
}

#greeting {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#personal-greeting {
  width: 100%;
  height: 136px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

#personal-greeting-mobile {
  width: 100%;
  height: 136px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#daytime-greeting {
  width: 338px;
  height: 56px;
  font-family: Inter-Medium;
  font-size: 47px;
  color: #2a3647;
  margin: 0;
}

#daytime-greeting-mobile {
  width: 338px;
  height: 56px;
  font-family: Inter-Medium;
  font-size: 47px;
  color: #2a3647;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#username-greeting {
  width: 100%;
  height: 77px;
  font-family: Inter-Bold;
  font-size: 64px;
  color: #29abe2;
  margin: 0;
}

#username-greeting-mobile {
  width: 100%;
  height: 77px;
  font-family: Inter-Bold;
  font-size: 64px;
  color: #29abe2;
  margin: 0;
  display: flex;
    justify-content: center;
    align-items: center;
}

#join-360-headline {
  width: 265px;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter-Bold;
  font-size: 61px;
  margin: 0 auto 0 0;
}

#join-360-bordercontainer {
  width: 3px;
  height: 59px;
  background-color: #29abe2;
  margin: 0;
}

#join-360-slogan {
  width: 301px;
  height: 32px;
  font-size: 27px;
  color: #2a3647;
  margin: 0 0 0 auto;
}

#join-360-bordercontainer-mobile {
  width: 90px;
  height: 3px;
  background-color: #29abe2;
  margin: 0;
}

#summary {
  width: 560px;
  height: 562px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0 0 300px;
  gap: 32px;
}

#summary-top {
  width: 560px;
  height: 168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-top-style {
  width: 264px;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  margin: 0px;
  cursor: pointer;
  transition: 75ms linear;
}

.summary-top-style:hover {
  transform: scale(1.1, 1.1);
  background-color: #2a3647;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

#summary-todo-top:hover #summary-img-pencil {
  content: url("../assets/img/pencil-white.png");
}

#summary-done-top:hover #summary-img-completed {
  content: url("../assets/img/completed-white.png");
}

.summary-img {
  width: 69px;
  height: 69px;
  margin: 0 0 0 auto;
}

.summary-card-small {
  width: 63px;
  height: 101px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 0;
}

.summary-small-number {
  width: 41px;
  height: 77px;
  font-family: Inter-SemiBold;
  font-size: 64px;
}

.summary-small-text {
  width: 63px;
  height: 24px;
  font-size: 20px;
  text-align: center;
}

.summary-bottom-small-number {
  width: 41px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter-Bold;
  font-size: 64px;
}

.summary-bottom-small-text {
  width: 83px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
}

#summary-urgent {
  width: 560px;
  height: 168px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 75ms linear;
}

#summary-urgent:hover {
  transform: scale(1.1, 1.1);
  background-color: #2a3647;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

#summary-urgent:hover #summary-urgent-right-date,
#summary-urgent:hover #summary-urgent-right-deadline {
  color: #ffffff;
}

#summary-urgent-left {
  width: 130px;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  margin: 0 auto 0 auto;
}

#summary-urgent-border {
  width: 2px;
  height: 102px;
  background-color: #d1d1d1;
  margin: 0;
}

#summary-urgent-right {
  width: 178px;
  height: 57px;
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 0 auto 0 auto;
}

#summary-urgent-right-date {
  width: 178px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter-Bold;
  font-size: 21px;
  color: #2a3647;
  margin: 0;
}

#summary-urgent-right-deadline {
  width: 148px;
  height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
  color: #2a3647;
  margin: 0;
}

#summary-bottom {
  width: 560px;
  height: 168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-bottom-style {
  width: 168px;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  margin: 0;
  cursor: pointer;
  transition: 75ms linear;
}

.summary-bottom-style:hover {
  transform: scale(1.1, 1.1);
  background-color: #2a3647;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.summary-bottom-content-style {
  width: 83px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1270px) {
  #content-summary-right {
    display: none !important;
  }

  #content-summary-right-mobile {
    display: flex !important;
  }

  @keyframes mobileGreeting {
    from {opacity: 1;}
    to {opacity: 0;}
  }
}

@media (max-width: 1000px) {
  #summary {
    width: 396px;
    margin: 40px 0 0 300px;
  }

  #summary-top {
    width: 396px;
    height: 110px;
  }

  .summary-top-style {
    width: 186px;
    height: 110px;
  }

  .summary-img {
    width: 40px;
    height: 40px;
  }

  .summary-card-small {
    width: 40px;
    height: 73px;
  }

  .summary-small-number {
    font-size: 47px;
  }

  .summary-small-text {
    font-size: 14px;
  }

  #summary-urgent {
    width: 396px;
    height: 110px;
  }

  #summary-urgent-border {
    height: 68px;
  }

  #summary-urgent-right {
    align-items: center;
  }

  #summary-urgent-right-date {
    font-size: 16px;
    justify-content: center;
  }

  .summary-urgent-right-deadline {
    font-size: 14px;
  }

  #summary-bottom {
    width: 396px;
    height: 116px;
  }

  .summary-bottom-style {
    width: 116px;
    height: 116px;
  }

  .summary-bottom-content-style {
    width: 54px;
    height: 90px;
  }

  .summary-bottom-small-number {
    font-size: 47px;
  }

  .summary-bottom-small-text {
    font-size: 14px;
  }

  #join-360 {
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    gap: 16px;
  }

  #join-360-headline {
    justify-content: flex-start;
  }

  #join-360-slogan {
    margin: 0;
  }

  #join-360-bordercontainer {
    display: none !important;
  }

  #join-360-bordercontainer-mobile {
    display: block !important;
  }
}

@media (max-width: 720px) {
  #summary {
    margin: 40px 0 0 250px;
  }

  #join-360 {
    margin: 70px 0 0 250px;
  }
}

@media (max-width: 650px) {
  .summary-container {
    height: 100vh;
    width: 100%;
  }

  #join-360 {
    margin: 0 24px 0;
    width: 396px;
  }

  #summary {
    margin: 40px 24px;
  }

  #username-greeting-mobile {
    height: fit-content;
    text-align: center;
  }
}

@media (max-width: 430px) {
  #summary {
    width: 266px;
    height: 362px;
    gap: 8px;
    margin: 0 24px;
  }

  #summary-top {
    width: 266px;
    height: 110px;
  }

  .summary-top-style {
    width: 120px;
    height: 80px;
    border-radius: 15px;
  }

  .summary-img {
    width: 30px;
    height: 30px;
  }

  .summary-card-small {
    width: 30px;
    height: 63px;
  }

  .summary-small-number {
    font-size: 40px;
    text-align: center;
  }

  .summary-small-text {
    font-size: 12px;
  }

  #summary-urgent {
    width: 266px;
    height: 110px;
    border-radius: 15px;
  }

  #summary-urgent-border {
    height: 68px;
  }

  #summary-urgent-right {
    align-items: center;
    width: 130px;
  }

  #summary-urgent-right-date {
    font-size: 14px;
  }

  .summary-urgent-right-deadline {
    font-size: 12px;
  }

  #summary-bottom {
    width: 266px;
    height: 116px;
  }

  .summary-bottom-style {
    width: 80px;
    height: 80px;
    border-radius: 15px;
  }

  .summary-bottom-content-style {
    width: 54px;
    height: 90px;
  }

  .summary-bottom-small-number {
    font-size: 40px;
    height: 50px;
  }

  .summary-bottom-small-text {
    font-size: 12px;
    width: 70px;
    height: 30px;
  }

  #join-360 {
    width: 266px;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    gap: 8px;
  }

  #join-360-headline {
    justify-content: flex-start;
    font-size: 47px;
  }

  #join-360-slogan {
    margin: 0;
    font-size: 22px;
  }

  #join-360-bordercontainer {
    display: none !important;
  }

  #join-360-bordercontainer-mobile {
    display: flex !important;
  }

  #daytime-greeting-mobile {
    font-size: 32px;
  }

  #username-greeting-mobile {
    font-size: 32px;
  }
}
